* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  z-index: 2;
  top: 0; }
  .header__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 100px; }
  .header__menu {
    width: 50px;
    height: 50px;
    position: relative; }
  .header__navigation {
    position: fixed; }
  @media (min-width: 800px) {
    .header {
      padding: 0 12%; }
      .header__menu {
        display: none; }
      .header__navigation {
        position: relative; } }
  @media (min-width: 1200px) {
    .header {
      background-color: transparent;
      color: white; } }

.menu {
  border: none;
  background: transparent;
  cursor: pointer; }
  .menu__line {
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    left: 7px;
    transition: 0.3s ease-in-out; }
  .menu__line:nth-of-type(1) {
    top: 14px; }
  .menu__line:nth-of-type(2), .menu__line:nth-of-type(3) {
    top: 23px; }
  .menu__line:nth-of-type(4) {
    top: 32px; }
  .menu--open .menu__line:nth-of-type(1) {
    top: 23px;
    width: 0%;
    left: 50%; }
  .menu--open .menu__line:nth-of-type(2) {
    transform: rotate(45deg); }
  .menu--open .menu__line:nth-of-type(3) {
    transform: rotate(-45deg); }
  .menu--open .menu__line:nth-of-type(4) {
    top: 23px;
    width: 0%;
    left: 50%; }

.navigation {
  opacity: 0;
  display: block;
  visibility: hidden;
  top: 70px;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: white;
  transition: opacity 0.3s ease-in; }
  .navigation__item {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400;
    background-color: white;
    color: #000546;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    text-transform: uppercase; }
  .navigation--active {
    visibility: visible;
    opacity: 1; }
  .navigation__link {
    display: block; }
    .navigation__link:active, .navigation__link:focus, .navigation__link:visited {
      color: #000546; }
    .navigation__link:hover {
      color: #ffbb00;
      background: #f5f5f5; }
  @media (min-width: 800px) {
    .navigation {
      visibility: visible;
      display: flex;
      top: 0;
      left: 0;
      opacity: 1;
      height: 70px; }
      .navigation ul {
        display: flex;
        width: 100%;
        justify-content: flex-end; }
      .navigation__item {
        margin-right: 50px;
        height: 70px;
        line-height: 70px; }
        .navigation__item:last-of-type {
          margin-right: 0; }
      .navigation__link {
        padding: 0 12px; } }
  @media (min-width: 1200px) {
    .navigation {
      background: transparent;
      color: white; }
      .navigation__item {
        background: transparent;
        color: white;
        letter-spacing: 0.1em; }
      .navigation__link:active, .navigation__link:focus, .navigation__link:visited {
        color: white; }
      .navigation__link:hover {
        color: #ffbb00;
        background: transparent; } }

.hero {
  margin-top: 70px;
  height: calc(100vh - 70px);
  background-image: url(../img/grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 30px;
  overflow-x: hidden; }
  .hero__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    margin: 60px 0 20px 0;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(42, 42, 42, 0.31);
    position: relative; }
    .hero__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .hero__title {
          font-size: calc( 30px + 30 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .hero__title {
          font-size: 60px; } }
    .hero__title p {
      position: relative;
      z-index: 1; }
      .hero__title p:after {
        content: "";
        display: block;
        background-color: #ffbb00;
        position: absolute;
        height: 0.3em;
        bottom: 4px;
        right: -0.3em;
        z-index: -1; }
      .hero__title p:nth-of-type(1):after {
        width: 8.5em; }
      .hero__title p:nth-of-type(2):after {
        width: 5em; }
  .hero__action {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffbb00;
    border: none;
    display: block;
    color: white;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62); }
    .hero__action:hover {
      background-color: #d19900; }
  .hero__photo {
    width: 400px;
    margin-top: 30px;
    position: relative;
    right: -100px; }
  @media (min-width: 500px) {
    .hero {
      padding: 0 12%; } }
  @media (min-width: 1200px) {
    .hero {
      background-image: url(../img/grass2.jpg);
      margin-top: 0;
      padding-top: 150px;
      height: 100vh;
      flex-wrap: wrap;
      align-items: flex-start; }
      .hero__title {
        flex-basis: 35%;
        width: 60%;
        text-align: left; }
        .hero__title p:after {
          left: -0.1em; }
      .hero__photo {
        width: 500px;
        right: 0; }
      .hero__action {
        width: 150px;
        height: 50px;
        border-radius: 50px;
        background-color: #ffbb00;
        border: none;
        display: block;
        color: white;
        font-size: 20px;
        line-height: 50px;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.1em;
        box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62); }
        .hero__action:hover {
          background-color: #d19900; } }

.slider {
  padding: 50px 20px;
  position: relative; }
  .slider__photo {
    width: 100%;
    object-fit: contain;
    height: calc(100vw / 2);
    background-color: #f5f5f5; }
  .slider__infobox {
    position: absolute;
    bottom: 30px;
    right: 10px; }

.infobox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffbb00;
  height: calc(100vw / 2.5); }
  .infobox__title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-weight: 500;
    padding: 20px 0 30px 0;
    position: relative; }
    .infobox__title {
      font-size: 18px; }
      @media screen and (min-width: 320px) {
        .infobox__title {
          font-size: calc( 18px + 17 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .infobox__title {
          font-size: 35px; } }
    .infobox__title:after {
      display: block;
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: white;
      left: calc(50% - 20px);
      bottom: 14px; }
  .infobox__description {
    display: none; }
  .infobox__more {
    width: 110px;
    height: 36px;
    border-radius: 36px;
    background-color: transparent;
    border: 2px solid white;
    display: block;
    color: white;
    font-size: 14.4px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em; }
    .infobox__more:hover {
      background-color: white;
      color: #ffbb00; }
