* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.header {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: background-color 0.2s ease-in-out; }
  .header__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 100px; }
  .header__menu {
    width: 50px;
    height: 50px;
    position: relative; }
  .header__navigation {
    position: fixed; }
  @media (min-width: 800px) {
    .header {
      padding: 0 12%; }
      .header__menu {
        display: none; }
      .header__navigation {
        position: relative; } }
  @media (min-width: 1200px) {
    .header {
      background-color: transparent;
      color: white; }
      .header--scrolled {
        background-color: white;
        color: #000546; } }

.menu {
  border: none;
  background: transparent;
  cursor: pointer; }
  .menu__line {
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    left: 7px;
    transition: 0.3s ease-in-out; }
  .menu__line:nth-of-type(1) {
    top: 14px; }
  .menu__line:nth-of-type(2), .menu__line:nth-of-type(3) {
    top: 23px; }
  .menu__line:nth-of-type(4) {
    top: 32px; }
  .menu--open .menu__line:nth-of-type(1) {
    top: 23px;
    width: 0%;
    left: 50%; }
  .menu--open .menu__line:nth-of-type(2) {
    transform: rotate(45deg); }
  .menu--open .menu__line:nth-of-type(3) {
    transform: rotate(-45deg); }
  .menu--open .menu__line:nth-of-type(4) {
    top: 23px;
    width: 0%;
    left: 50%; }

.navigation {
  opacity: 0;
  display: block;
  visibility: hidden;
  top: 70px;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: white;
  transition: opacity 0.3s ease-in; }
  .navigation__item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: white;
    color: #000546;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    text-transform: uppercase; }
  .navigation--active {
    visibility: visible;
    opacity: 1; }
  .navigation__link {
    display: block; }
    .navigation__link:link, .navigation__link:active, .navigation__link:focus, .navigation__link:visited {
      color: #000546; }
    .navigation__link:hover {
      color: #ffbb00; }
  @media (min-width: 800px) {
    .navigation {
      visibility: visible;
      display: flex;
      top: 0;
      left: 0;
      opacity: 1;
      height: 70px; }
      .navigation ul {
        display: flex;
        width: 100%;
        justify-content: flex-end; }
      .navigation__item {
        margin-right: 50px;
        height: 70px;
        line-height: 70px; }
        .navigation__item:last-of-type {
          margin-right: 0; }
      .navigation__link {
        margin: 0 12px;
        position: relative; }
        .navigation__link:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 15px;
          left: 0;
          background-color: #ffbb00;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out; }
        .navigation__link:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left; } }
  @media (min-width: 1200px) {
    .navigation {
      background: transparent;
      color: white; }
      .navigation__item {
        background: transparent;
        color: white;
        letter-spacing: 0.1em; }
      .navigation__link {
        transition: color 0 ease-in 0.3s; }
        .navigation__link:link, .navigation__link:active, .navigation__link:focus, .navigation__link:visited {
          color: white; }
        .navigation__link:hover {
          color: #ffbb00;
          background: transparent; }
        .navigation__link--scrolled:link, .navigation__link--scrolled:active, .navigation__link--scrolled:focus, .navigation__link--scrolled:visited {
          color: #000546; } }

.hero {
  margin-top: 70px;
  height: calc(100vh - 70px);
  background-image: url(../img/grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 30px;
  overflow-x: hidden; }
  .hero__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    margin: 60px 0 20px 0;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(42, 42, 42, 0.31);
    position: relative; }
    .hero__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .hero__title {
          font-size: calc( 30px + 30 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .hero__title {
          font-size: 60px; } }
    .hero__title p {
      position: relative;
      z-index: 1; }
      .hero__title p:after {
        content: "";
        display: block;
        background-color: #ffbb00;
        position: absolute;
        height: 0.3em;
        bottom: 4px;
        right: -0.3em;
        z-index: -1; }
      @media (min-width: 385px) {
        .hero__title p:nth-of-type(1):after {
          width: 8.5em; } }
      .hero__title p:nth-of-type(2):after {
        width: 5em; }
  .hero__action {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffbb00;
    border: none;
    display: block;
    color: white;
    font-size: 13.33333px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62);
    cursor: pointer; }
    .hero__action:hover {
      background-color: #d19900; }
  .hero__photo {
    width: 400px;
    margin-top: 30px;
    position: relative;
    right: -100px; }
  @media (min-width: 500px) {
    .hero {
      padding: 0 12%; } }
  @media (min-width: 1200px) {
    .hero {
      background-image: url(../img/grass_bcg.jpg);
      margin-top: 0;
      padding-top: 150px;
      height: 100vh;
      flex-wrap: wrap;
      align-items: flex-start; }
      .hero__title {
        flex-basis: 35%;
        width: 60%;
        text-align: left; }
        .hero__title p:after {
          left: -0.1em; }
      .hero__photo {
        width: 500px;
        right: 0; }
      .hero__action {
        width: 150px;
        height: 50px;
        border-radius: 50px;
        background-color: #ffbb00;
        border: none;
        display: block;
        color: white;
        font-size: 16.66667px;
        line-height: 50px;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.1em;
        box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62);
        cursor: pointer; }
        .hero__action:hover {
          background-color: #d19900; } }

.slider {
  padding: 0px 20px;
  position: relative;
  margin-top: 30px; }
  .slider__bttn {
    position: absolute;
    height: calc(100vw / 2 + 3px);
    width: 8%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px;
    opacity: 0.2;
    border: none;
    z-index: 2;
    cursor: pointer; }
    .slider__bttn:hover {
      opacity: 0.8; }
    .slider__bttn--left {
      left: 20px;
      background-image: url(../img/left-arrow.svg);
      background-position: left center; }
    .slider__bttn--right {
      right: 10px;
      background-image: url(../img/right-arrow.svg);
      background-position: right center; }
  .slider__item {
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
    box-shadow: 1px 1px 11px 6px #cdcdcd;
    background-color: #f5f5f5; }
    .slider__item--right {
      transform: translateX(110%); }
    .slider__item--left {
      transform: translateX(-110%); }
  .slider__photo {
    width: 100%;
    object-fit: contain;
    height: calc(100vw / 2);
    background-color: #f5f5f5;
    object-position: 0% 50%; }
  .slider__infobox {
    position: absolute;
    bottom: -10px;
    right: -10px; }
  .slider__dots {
    width: 100%;
    margin: calc(100vw / 2 + 60px) 10px 20px 10px; }
  @media (min-width: 800px) {
    .slider__item {
      width: 60%;
      margin: 0 20%;
      top: -120px;
      z-index: 1; }
      .slider__item--right {
        transform: translateX(25%) scale(0.8);
        z-index: 0;
        filter: blur(1px); }
      .slider__item--left {
        transform: translateX(-25%) scale(0.8);
        z-index: 0;
        filter: blur(1px); }
    .slider__photo {
      width: 60%;
      height: calc(100vw / 3); }
    .slider__bttn {
      background-size: 40px; }
      .slider__bttn--left {
        left: calc(20% + 20px);
        height: calc(100vw / 3 + 3px);
        top: -120px; }
      .slider__bttn--right {
        right: calc(20% - 30px);
        height: calc(100vw / 3 + 29px);
        top: -136px; }
    .slider__dots {
      margin-top: calc(100vw / 3 - 40px); } }

.dots {
  display: flex;
  justify-content: center;
  align-items: center; }
  .dots__item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c0c0c0;
    margin: 0 5px; }
    .dots__item--active {
      background-color: #ffbb00; }

.infobox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffbb00;
  height: calc(100vw / 2.5); }
  .infobox__title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-weight: 500;
    padding: 5px 10px 30px 10px;
    position: relative;
    text-align: center; }
    .infobox__title {
      font-size: 14px; }
      @media screen and (min-width: 320px) {
        .infobox__title {
          font-size: calc( 14px + 21 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .infobox__title {
          font-size: 35px; } }
    .infobox__title:after {
      display: block;
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: white;
      left: calc(50% - 20px);
      bottom: 14px; }
  .infobox__description {
    display: none; }
  .infobox__more {
    width: 90px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    display: block;
    color: white;
    font-size: 11.53846px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer; }
    .infobox__more:hover {
      background-color: white;
      color: #ffbb00; }
    @media (min-width: 400px) {
      .infobox__more {
        width: 110px;
        height: 36px;
        border-radius: 36px;
        background-color: transparent;
        border: 2px solid white;
        display: block;
        color: white;
        font-size: 13.84615px;
        line-height: 34px;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.1em;
        cursor: pointer; }
        .infobox__more:hover {
          background-color: white;
          color: #ffbb00; } }
  @media (min-width: 800px) {
    .infobox {
      width: 45%;
      height: calc(100vw / 3 + 30px); } }
  @media (min-width: 1200px) {
    .infobox__title {
      padding: 5px 30px 30px 30px;
      text-align: left; }
      .infobox__title:after {
        width: 50px;
        left: 30px;
        bottom: 5px; }
    .infobox__description {
      display: block;
      color: white;
      padding: 20px 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 28px;
      text-align: left; }
      .infobox__description {
        font-size: 14px; } }
    @media screen and (min-width: 1200px) and (min-width: 1200px) {
      .infobox__description {
        font-size: calc( 14px + 6 * ((100vw - 1200px) / 400)); } }
    @media screen and (min-width: 1200px) and (min-width: 1600px) {
      .infobox__description {
        font-size: 20px; } }

.noscroll {
  overflow: hidden; }

.product {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  padding: 30px 20px;
  margin: 20px 10px;
  width: calc(100% - 20px);
  max-width: 450px;
  min-height: 300px;
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
  left: 0;
  z-index: 20;
  background-color: #f5f5f5;
  top: 0;
  transition: opacity 0.2s ease-in; }
  .product__overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(42, 42, 42, 0.8);
    margin: 0;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in; }
  .product__title {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 600;
    margin-bottom: 20px; }
    .product__title {
      font-size: 18px; }
      @media screen and (min-width: 320px) {
        .product__title {
          font-size: calc( 18px + 4 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .product__title {
          font-size: 22px; } }
  .product__info {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 20px; }
    .product__info {
      font-size: 13px; }
      @media screen and (min-width: 320px) {
        .product__info {
          font-size: calc( 13px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .product__info {
          font-size: 15px; } }
  .product__note {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400;
    margin-top: 10px;
    max-width: 350px;
    margin: 10px auto 0 auto; }
    .product__note {
      font-size: 12px; }
      @media screen and (min-width: 320px) {
        .product__note {
          font-size: calc( 12px + 0 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .product__note {
          font-size: 12px; } }
  .product__table {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400;
    border-collapse: collapse;
    width: 100%;
    max-width: 350px;
    margin: 0 auto; }
    .product__table {
      font-size: 13px; }
      @media screen and (min-width: 320px) {
        .product__table {
          font-size: calc( 13px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .product__table {
          font-size: 15px; } }
    .product__table th,
    .product__table td {
      border: 1px solid #000546;
      padding: 5px;
      height: 35px; }
    .product__table th {
      letter-spacing: 0.1em; }
  .product__close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/close.svg);
    background-size: contain;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer; }
  @media (min-width: 450px) {
    .product {
      margin: 10px 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: auto; } }

.visible {
  visibility: visible;
  opacity: 1; }

.services {
  padding: 30px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px repeat(3, 1fr) auto; }
  .services__wrapper {
    position: relative;
    margin-bottom: 60px; }
    .services__wrapper:after {
      display: block;
      content: "";
      width: 80%;
      height: 2px;
      background-color: #ffbb00;
      bottom: -30px;
      left: 10%;
      position: absolute; }
    .services__wrapper:last-of-type {
      margin-bottom: 0; }
    .services__wrapper:last-of-type:after {
      display: none; }
  .services__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    position: relative;
    padding-left: 10px; }
    .services__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .services__title {
          font-size: calc( 30px + 15 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .services__title {
          font-size: 45px; } }
    .services__title:after {
      content: "";
      display: inline-block;
      background-color: #ffbb00;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 5px;
      z-index: -1; }
  .services__subtitle {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 600;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.5em;
    display: flex;
    align-items: center; }
    .services__subtitle {
      font-size: 24px; }
      @media screen and (min-width: 320px) {
        .services__subtitle {
          font-size: calc( 24px + 6 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .services__subtitle {
          font-size: 30px; } }
    .services__subtitle--delivery, .services__subtitle--shop {
      background-position: left;
      text-align: right;
      padding-left: 25%; }
    .services__subtitle--cylinder, .services__subtitle--heaters {
      background-position: right;
      text-align: left;
      padding-right: 25%; }
    .services__subtitle--delivery {
      background-image: url(../img/truck.svg); }
    .services__subtitle--cylinder {
      background-image: url(../img/gas.svg); }
    .services__subtitle--shop {
      background-image: url(../img/shop.svg); }
    .services__subtitle--heaters {
      background-image: url(../img/fire.svg); }
  .services__text {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400; }
    .services__text {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        .services__text {
          font-size: calc( 16px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .services__text {
          font-size: 18px; } }
  @media (min-width: 750px) {
    .services {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px repeat(2, 1fr);
      grid-gap: 7%; }
      .services__title {
        grid-column: span 2; }
      .services__subtitle {
        background-position: right;
        text-align: left;
        padding: 0 25% 0 0; } }
  @media (min-width: 800px) {
    .services {
      padding-top: 90px; } }
  @media (min-width: 1400px) {
    .services {
      padding: 90px 10%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 60px 1fr;
      grid-row-gap: 15px;
      grid-column-gap: 30px; }
      .services__text {
        text-align: center; }
      .services__wrapper {
        margin-bottom: 0; }
        .services__wrapper:after {
          width: 1px;
          height: 200px;
          top: 50%;
          left: calc(100% + 15px);
          transform: translateY(-50%); }
      .services__wrapper:last-of-type:after {
        display: none; }
      .services__title {
        grid-column: span 4; }
      .services__subtitle {
        padding: 0;
        height: 200px;
        padding-top: 120px;
        align-items: flex-start;
        background: none;
        position: relative;
        text-align: center;
        justify-content: center; }
        .services__subtitle:before {
          content: "";
          display: block;
          position: absolute;
          height: 100px;
          width: 100%;
          top: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: top center; }
        .services__subtitle--delivery:before {
          background-image: url(../img/truck.svg); }
        .services__subtitle--cylinder:before {
          background-image: url(../img/gas.svg); }
        .services__subtitle--shop:before {
          background-image: url(../img/shop.svg); }
        .services__subtitle--heaters:before {
          background-image: url(../img/fire.svg); } }

.heaters {
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vw repeat(4, auto); }
  .heaters__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin-top: 30px; }
    .heaters__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .heaters__title {
          font-size: calc( 30px + 15 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .heaters__title {
          font-size: 45px; } }
    .heaters__title:after {
      content: "";
      display: inline-block;
      background-color: #ffbb00;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
  .heaters__text {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400; }
    .heaters__text {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        .heaters__text {
          font-size: calc( 16px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .heaters__text {
          font-size: 18px; } }
  .heaters__photo {
    background: url(../img/heaters.jpg) no-repeat;
    background-size: cover;
    position: relative; }
    .heaters__photo:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffbb00;
      right: -10px;
      bottom: -10px;
      z-index: -1; }
  @media (min-width: 650px) {
    .heaters {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30vw repeat(3, auto);
      grid-gap: 30px;
      margin-top: 60px; }
      .heaters__text {
        grid-column: span 2;
        margin-bottom: 0; }
      .heaters__title {
        margin-left: 10%;
        margin-top: 0; } }
  @media (min-width: 1300px) {
    .heaters {
      grid-template-rows: repeat(4, auto);
      grid-column-gap: 60px; }
      .heaters__title {
        margin-left: 0; }
      .heaters__photo {
        grid-column: span 1;
        grid-row: span 4; }
      .heaters__text {
        grid-column: span 1; } }
  @media (min-width: 1400px) {
    .heaters {
      padding: 0 10%; } }

.ragasco {
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vw repeat(4, auto); }
  .ragasco__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin: 30px 0; }
    .ragasco__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .ragasco__title {
          font-size: calc( 30px + 15 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .ragasco__title {
          font-size: 45px; } }
    .ragasco__title:after {
      content: "";
      display: inline-block;
      background-color: #ffbb00;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
  .ragasco__text {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400; }
    .ragasco__text {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        .ragasco__text {
          font-size: calc( 16px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .ragasco__text {
          font-size: 18px; } }
  .ragasco__photo {
    background: url(../img/ragasco_butle.png) no-repeat;
    background-size: contain;
    background-position: center; }
  .ragasco__button {
    width: 220px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffbb00;
    border: none;
    display: block;
    color: white;
    font-size: 13.33333px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62);
    cursor: pointer; }
    .ragasco__button:hover {
      background-color: #d19900; }
  @media (min-width: 650px) {
    .ragasco {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30vw repeat(3, auto);
      grid-gap: 30px;
      margin-top: 100px; }
      .ragasco__text {
        grid-column: span 2;
        margin-bottom: 0; }
      .ragasco__title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 0; }
      .ragasco__photo {
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
  @media (min-width: 1000px) {
    .ragasco {
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 60px; }
      .ragasco__title {
        margin-left: 0; }
      .ragasco__photo {
        grid-column: span 1;
        grid-row: span 4; }
      .ragasco__text {
        grid-column: span 1; } }
  @media (min-width: 1400px) {
    .ragasco {
      padding: 0 10%; } }

.cooperation {
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vw repeat(3, auto); }
  .cooperation__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin-top: 40px;
    margin-bottom: 30px; }
    .cooperation__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .cooperation__title {
          font-size: calc( 30px + 15 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .cooperation__title {
          font-size: 45px; } }
    .cooperation__title:after {
      content: "";
      display: inline-block;
      background-color: #ffbb00;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
  .cooperation__text {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400; }
    .cooperation__text {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        .cooperation__text {
          font-size: calc( 16px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .cooperation__text {
          font-size: 18px; } }
  .cooperation__photo {
    background: url(../img/handshake.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
    .cooperation__photo:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffbb00;
      right: -10px;
      bottom: -10px;
      z-index: -1; }
  @media (min-width: 650px) {
    .cooperation {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30vw repeat(3, auto);
      grid-gap: 30px;
      padding-top: 60px; }
      .cooperation__text {
        grid-column: span 2;
        margin-bottom: 0; }
      .cooperation__title {
        margin-left: 10%;
        margin-top: 0; } }
  @media (min-width: 800px) {
    .cooperation {
      padding-top: 90px; } }
  @media (min-width: 1000px) {
    .cooperation {
      grid-template-rows: repeat(4, auto);
      grid-column-gap: 60px; }
      .cooperation__title {
        margin-left: 0; }
      .cooperation__photo {
        grid-column: span 1;
        grid-row: span 4; }
      .cooperation__text {
        grid-column: span 1; } }
  @media (min-width: 1400px) {
    .cooperation {
      padding: 90px 10% 0 10%; } }

.contact {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto); }
  .contact__title {
    font-family: "Montserrat", sans-serif;
    color: #000546;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin-bottom: 30px; }
    .contact__title {
      font-size: 30px; }
      @media screen and (min-width: 320px) {
        .contact__title {
          font-size: calc( 30px + 15 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .contact__title {
          font-size: 45px; } }
    .contact__title:after {
      content: "";
      display: inline-block;
      background-color: #ffbb00;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
  .contact__details {
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400;
    font-style: normal;
    padding-right: 50px; }
    .contact__details {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        .contact__details {
          font-size: calc( 16px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .contact__details {
          font-size: 18px; } }
  .contact__text, .contact__address, .contact__mail, .contact__tel, .contact__fb {
    display: block;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative; }
    .contact__text:before, .contact__address:before, .contact__mail:before, .contact__tel:before, .contact__fb:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 2px;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center; }
  .contact__address:focus, .contact__address:active, .contact__address:visited, .contact__address:link, .contact__mail:focus, .contact__mail:active, .contact__mail:visited, .contact__mail:link, .contact__tel:focus, .contact__tel:active, .contact__tel:visited, .contact__tel:link, .contact__fb:focus, .contact__fb:active, .contact__fb:visited, .contact__fb:link {
    color: #000546; }
  .contact__address:hover, .contact__mail:hover, .contact__tel:hover, .contact__fb:hover {
    color: #ffbb00; }
  .contact__text--shop:before {
    background-image: url(../img/shop.svg); }
  .contact__text--delivery:before {
    background-image: url(../img/truck.svg); }
  .contact__text--card:before {
    background-image: url(../img/credit_card.svg); }
  .contact__address:before {
    background-image: url(../img/location.svg); }
  .contact__mail:before {
    background-image: url(../img/envelope.svg); }
  .contact__tel:before {
    background-image: url(../img/phone.svg); }
  .contact__fb:before {
    background-image: url(../img/facebook.svg); }
  @media (min-width: 650px) {
    .contact {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 60px; }
      .contact__title:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      .contact__title:last-of-type {
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
  @media (min-width: 800px) {
    .contact {
      padding-top: 90px; } }
  @media (min-width: 1400px) {
    .contact {
      padding: 90px 10% 30px 10%; } }

.form {
  display: flex;
  flex-direction: column; }
  .form__item {
    position: relative;
    margin-bottom: 20px; }
  .form__email, .form__message {
    background: none;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #000546; }
    .form__email:invalid, .form__message:invalid {
      border-color: #c0c0c0;
      box-shadow: none; }
    .form__email:focus, .form__message:focus {
      border-color: #000546; }
    .form__email:focus + label, .form__message:focus + label {
      top: -8px;
      font-size: 11px;
      color: #000546; }
    .form__email::placeholder, .form__message::placeholder {
      color: transparent; }
    .form__email:not(:placeholder-shown) + label, .form__message:not(:placeholder-shown) + label {
      top: -8px;
      font-size: 11px;
      color: #000546; }
  .form .error {
    border-color: #e01546; }
  .form__email {
    height: 50px; }
  .form__label {
    font-family: "Roboto", sans-serif;
    color: #c0c0c0;
    font-weight: 400;
    display: block;
    position: absolute;
    background-color: white;
    min-width: 30%;
    top: 15px;
    left: 15px;
    transition: 0.2s ease-out all;
    padding: 0 7px;
    cursor: text; }
    .form__label {
      font-size: 13px; }
      @media screen and (min-width: 320px) {
        .form__label {
          font-size: calc( 13px + 0 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .form__label {
          font-size: 13px; } }
  .form__message {
    resize: none; }
  .form__info {
    font-family: "Roboto", sans-serif;
    color: #000546;
    font-weight: 400;
    margin-bottom: 20px; }
    .form__info {
      font-size: 12px; }
      @media screen and (min-width: 320px) {
        .form__info {
          font-size: calc( 12px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .form__info {
          font-size: 14px; } }
    .form__info a {
      color: #ffbb00; }
      .form__info a:link, .form__info a:visited, .form__info a:active {
        color: #ffbb00; }
      .form__info a:hover {
        color: #000546;
        text-decoration: underline; }
  .form__submit {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background-color: #ffbb00;
    border: none;
    display: block;
    color: white;
    font-size: 13.33333px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62);
    cursor: pointer; }
    .form__submit:hover {
      background-color: #d19900; }
  .form-send-success {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #eee;
    color: #333;
    padding: 10rem 0;
    margin: 3rem auto;
    max-width: 40rem; }
  .form-send-success strong {
    display: block;
    margin-bottom: 0.5rem; }
  .form-send-success span {
    font-size: 1rem;
    color: #888;
    font-weight: normal;
    display: block; }
  .form .honey-row {
    display: none; }
  .form .field-error {
    color: #e01546;
    padding: 10px 0;
    font-size: 14px;
    font-family: "Roboto", sans-serif; }

.footer {
  font-family: "Roboto", sans-serif;
  color: #000546;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f5f5f5;
  padding: 0 30px;
  text-align: center; }
  .footer {
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      .footer {
        font-size: calc( 12px + 2 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .footer {
        font-size: 14px; } }

.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5; }

.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%) rotate(0deg);
  content: "";
  animation: rotateLoading 0.3s infinite linear;
  z-index: 10; }

@keyframes rotateLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.send-error {
  text-align: center;
  display: block;
  font-family: sans-serif;
  padding: 10px 20px;
  color: red; }
  @media (min-width: 500px) {
    .send-error {
      display: inline-block;
      text-align: left; } }

.sub-index {
  font-size: 0.7em;
  vertical-align: sub; }
