@mixin title($min, $max, $color) {
  @include fluid-type($min-vw, $max-vw, $min, $max);
  font-family: $title-font;
  color: $color;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin button($width, $height) {
  width: $width;
  height: $height;
  border-radius: $height;
  background-color: $yellow;
  border: none;
  display: block;
  color: white;
  font-size: $height / 2.5;
  line-height: $height;
  text-transform: uppercase;
  font-family: $title-font;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62);
  &:hover {
    background-color: #d19900;
  }
}

@mixin button_inverted($width, $height) {
  width: $width;
  height: $height;
  border-radius: $height;
  background-color: transparent;
  border: 2px solid white;
  display: block;
  color: white;
  font-size: $height / 2.5;
  line-height: $height;
  text-transform: uppercase;
  font-family: $title-font;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  &:hover {
    background-color: white;
    color: $yellow;
  }
}

@mixin text {
  font-family: $text-font;
  color: $dark;
  font-weight: 400;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
