@mixin title($size, $color) {
  font-family: $title-font;
  color: $color;
  font-size: $size;
  text-transform: uppercase;
  font-weight: 900;
}

@mixin button($width, $height) {
  width: $width;
  height: $height;
  border-radius: $height;
  background-color: $yellow;
  border: none;
  display: block;
  color: white;
  font-size: $height / 2.5;
  line-height: $height;
  text-transform: uppercase;
  font-family: $title-font;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  box-shadow: 1px 1px 6px 0px rgba(66, 66, 66, 0.62);
  &:hover {
    background-color: #d19900;
  }
}

@mixin text {
  font-family: $text-font;
  color: $dark;
  font-weight: 400;
}
