@import "variables";
@import "fonts";
@import "colors";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  z-index: 2;
  top: 0;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 100px;
  }
  &__menu {
    width: 50px;
    height: 50px;
    position: relative;
  }
  &__navigation {
    position: fixed;
  }
  @media (min-width: 800px) {
    padding: 0 12%;
    &__menu {
      display: none;
    }
    &__navigation {
      position: relative;
    }
  }
  @media (min-width: 1200px) {
    background-color: transparent;
    color: white;
  }
}

.menu {
  border: none;
  background: transparent;
  cursor: pointer;
  &__line {
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    left: 7px;
    transition: 0.3s ease-in-out;
  }
  &__line:nth-of-type(1) {
    top: 14px;
  }
  &__line:nth-of-type(2),
  &__line:nth-of-type(3) {
    top: 23px;
  }
  &__line:nth-of-type(4) {
    top: 32px;
  }
  &--open &__line:nth-of-type(1) {
    top: 23px;
    width: 0%;
    left: 50%;
  }
  &--open &__line:nth-of-type(2) {
    transform: rotate(45deg);
  }
  &--open &__line:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  &--open &__line:nth-of-type(4) {
    top: 23px;
    width: 0%;
    left: 50%;
  }
}

.navigation {
  opacity: 0;
  display: block;
  visibility: hidden;
  top: 70px;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: white;
  transition: opacity 0.3s ease-in;
  &__item {
    font-family: $text-font;
    font-weight: 400;
    background-color: white;
    color: $dark;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
  }
  &--active {
    visibility: visible;
    opacity: 1;
  }
  &__link {
    display: block;

    &:active,
    &:focus,
    &:visited {
      color: $dark;
    }
    &:hover {
      color: $yellow;
    }
  }
  @media (min-width: 800px) {
    visibility: visible;
    display: flex;
    top: 0;
    left: 0;
    opacity: 1;
    height: 70px;
    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    &__item {
      margin-right: 50px;
      height: 70px;
      line-height: 70px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__link {
      margin: 0 12px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 15px;
        left: 0;
        background-color: $yellow;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    background: transparent;
    color: white;
    &__item {
      background: transparent;
      color: white;
      letter-spacing: 0.1em;
    }
    &__link {
      &:active,
      &:focus,
      &:visited {
        color: white;
      }
      &:hover {
        color: $yellow;
        background: transparent;
      }
    }
  }
}

.hero {
  margin-top: 70px;
  height: calc(100vh - 70px);
  background-image: url(../img/grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 30px;
  overflow-x: hidden;
  &__title {
    @include title(30px, 60px, $dark);
    width: 100%;
    margin: 60px 0 20px 0;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(42, 42, 42, 0.31);
    position: relative;
    p {
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        display: block;
        background-color: $yellow;
        position: absolute;
        height: 0.3em;
        bottom: 4px;
        right: -0.3em;
        z-index: -1;
      }
      @media (min-width: 385px) {
        &:nth-of-type(1):after {
          width: 8.5em;
        }
      }
      &:nth-of-type(2):after {
        width: 5em;
      }
    }
  }
  &__action {
    @include button(120px, 40px);
  }
  &__photo {
    width: 400px;
    margin-top: 30px;
    position: relative;
    right: -100px;
  }
  @media (min-width: 500px) {
    padding: 0 12%;
  }
  @media (min-width: 1200px) {
    background-image: url(../img/grass2.jpg);
    margin-top: 0;
    padding-top: 150px;
    height: 100vh;
    flex-wrap: wrap;
    align-items: flex-start;
    &__title {
      flex-basis: 35%;
      width: 60%;
      text-align: left;
      p {
        &:after {
          left: -0.1em;
        }
      }
    }
    &__photo {
      width: 500px;
      right: 0;
    }
    &__action {
      @include button(150px, 50px);
    }
  }
}

.slider {
  padding: 0px 20px;
  position: relative;
  margin-top: 30px;
  &__bttn {
    position: absolute;
    height: calc(100vw / 2 + 3px);
    width: 8%;
    background-color: transparent;
    opacity: 0.15;
    border: none;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
    &--left {
      left: 20px;
    }
    &--right {
      right: 10px;
    }
  }
  &__item {
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
    box-shadow: 1px 1px 11px 6px #cdcdcd;
    background-color: $grey;
    &--right {
      transform: translateX(110%);
    }
    &--left {
      transform: translateX(-110%);
    }
  }
  &__photo {
    width: 100%;
    object-fit: contain;
    height: calc(100vw / 2);
    background-color: $grey;
    object-position: 0% 50%;
  }
  &__infobox {
    position: absolute;
    bottom: -10px;
    right: -10px;
  }
  &__dots {
    width: 100%;
    margin: calc(100vw / 2 + 60px) 10px 20px 10px;
  }
  @media (min-width: 800px) {
    &__item {
      width: 60%;
      margin: 0 20%;
      top: -120px;
      z-index: 1;
      &--right {
        transform: translateX(35%) scale(0.6);
        z-index: 0;
        filter: blur(1px);
      }
      &--left {
        transform: translateX(-35%) scale(0.6);
        z-index: 0;
        filter: blur(1px);
      }
    }
    &__photo {
      width: 60%;
      height: calc(100vw / 3);
    }
    &__bttn {
      &--left {
        left: calc(20% + 20px);
        height: calc(100vw / 3 + 3px);
        top: -120px;
      }
      &--right {
        right: calc(20% - 30px);
        height: calc(100vw / 3 + 29px);
        top: -136px;
      }
    }
    &__dots {
      margin-top: calc(100vw / 3 - 40px);
    }
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $dark_grey;
    margin: 0 5px;
    &--active {
      background-color: $yellow;
    }
  }
}

.infobox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  height: calc(100vw / 2.5);
  &__title {
    @include title(14px, 35px, white);
    font-weight: 500;
    padding: 5px 10px 30px 10px;
    position: relative;
    text-align: center;
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: white;
      left: calc(50% - 20px);
      bottom: 14px;
    }
  }
  &__description {
    display: none;
  }
  &__more {
    @include button_inverted(90px, 30px);
    @media (min-width: 400px) {
      @include button_inverted(110px, 36px);
    }
  }
  @media (min-width: 800px) {
    width: 45%;
    height: calc(100vw / 3 + 30px);
  }
  @media (min-width: 1200px) {
    &__title {
      padding: 5px 30px 30px 30px;
      text-align: left;
      &:after {
        width: 50px;
        left: 30px;
        bottom: 5px;
      }
    }
    &__description {
      @include fluid-type(1200px, 1600px, 14px, 20px);
      display: block;
      color: white;
      padding: 20px 30px;
      font-family: $text-font;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
    }
  }
}

.services {
  padding: 30px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px repeat(3, 1fr) auto;
  &__wrapper {
    position: relative;
    margin-bottom: 60px;
    &:after {
      display: block;
      content: "";
      width: 80%;
      height: 2px;
      background-color: $yellow;
      bottom: -30px;
      left: 10%;
      position: absolute;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:last-of-type:after {
      display: none;
    }
  }

  &__title {
    @include title(30px, 45px, $dark);
    text-align: left;
    position: relative;
    padding-left: 10px;
    &:after {
      content: "";
      display: inline-block;
      background-color: $yellow;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 5px;
      z-index: -1;
    }
  }
  &__subtitle {
    @include subtitle(24px, 30px, $dark);
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.5em;
    display: flex;
    align-items: center;
    &--delivery,
    &--shop {
      background-position: left;
      text-align: right;
      padding-left: 25%;
    }
    &--cylinder,
    &--heaters {
      background-position: right;
      text-align: left;
      padding-right: 25%;
    }
    &--delivery {
      background-image: url(../img/truck.svg);
    }
    &--cylinder {
      background-image: url(../img/gas.svg);
    }
    &--shop {
      background-image: url(../img/shop.svg);
    }
    &--heaters {
      background-image: url(../img/fire.svg);
    }
  }
  &__text {
    @include text(16px, 20px, $dark);
  }
  @media (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px repeat(2, 1fr);
    grid-gap: 7%;
    &__title {
      grid-column: span 2;
    }
    &__subtitle {
      background-position: right;
      text-align: left;
      padding: 0 25% 0 0;
    }
  }
  @media (min-width: 1400px) {
    padding: 50px 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
    &__text {
      text-align: center;
    }
    &__wrapper {
      margin-bottom: 0;
      &:after {
        width: 1px;
        height: 200px;
        top: 50%;
        left: calc(100% + 15px);
        transform: translateY(-50%);
      }
    }
    &__wrapper:last-of-type:after {
      display: none;
    }
    &__title {
      grid-column: span 4;
    }
    &__subtitle {
      padding: 0;
      height: 200px;
      padding-top: 120px;
      align-items: flex-start;
      background: none;
      position: relative;
      text-align: center;
      justify-content: center;
      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 100px;
        width: 100%;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
      }
      &--delivery:before {
        background-image: url(../img/truck.svg);
      }
      &--cylinder:before {
        background-image: url(../img/gas.svg);
      }
      &--shop:before {
        background-image: url(../img/shop.svg);
      }
      &--heaters:before {
        background-image: url(../img/fire.svg);
      }
    }
  }
}

.heaters {
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vw repeat(4, auto);
  &__title {
    @include title(30px, 45px, $dark);
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin-top: 30px;
    &:after {
      content: "";
      display: inline-block;
      background-color: $yellow;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  &__text {
    margin-bottom: 30px;
    @include text(16px, 20px, $dark);
  }
  &__photo {
    background: url(../img/heaters.jpg) no-repeat;
    background-size: cover;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      right: -10px;
      bottom: -10px;
      z-index: -1;
    }
  }
  @media (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vw repeat(3, auto);
    grid-gap: 30px;
    margin-top: 60px;
    &__text {
      grid-column: span 2;
      margin-bottom: 0;
    }
    &__title {
      margin-left: 10%;
      margin-top: 0;
    }
  }
  @media (min-width: 1300px) {
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 60px;
    &__title {
      margin-left: 0;
    }
    &__photo {
      grid-column: span 1;
      grid-row: span 4;
    }
    &__text {
      grid-column: span 1;
    }
  }
  @media (min-width: 1400px) {
    padding: 0 10%;
  }
}

.ragasco {
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vw repeat(4, auto);
  &__title {
    @include title(30px, 45px, $dark);
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin: 30px 0;
    &:after {
      content: "";
      display: inline-block;
      background-color: $yellow;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  &__text {
    margin-bottom: 30px;
    @include text(16px, 20px, $dark);
  }
  &__photo {
    background: url(../img/ragasco_butle.png) no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__button {
    @include button(220px, 40px);
  }
  @media (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vw repeat(3, auto);
    grid-gap: 30px;
    margin-top: 100px;
    &__text {
      grid-column: span 2;
      margin-bottom: 0;
    }
    &__title {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-top: 0;
    }
    &__photo {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
  @media (min-width: 1000px) {
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 60px;
    &__title {
      margin-left: 0;
    }
    &__photo {
      grid-column: span 1;
      grid-row: span 4;
    }
    &__text {
      grid-column: span 1;
    }
  }
  @media (min-width: 1400px) {
    padding: 0 10%;
  }
}

.cooperation {
  padding: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vw repeat(3, auto);
  &__title {
    @include title(30px, 45px, $dark);
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
    &:after {
      content: "";
      display: inline-block;
      background-color: $yellow;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  &__text {
    margin-bottom: 30px;
    @include text(16px, 20px, $dark);
  }
  &__photo {
    background: url(../img/handshake.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      right: -10px;
      bottom: -10px;
      z-index: -1;
    }
  }
  @media (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vw repeat(3, auto);
    grid-gap: 30px;
    margin-top: 60px;
    &__text {
      grid-column: span 2;
      margin-bottom: 0;
    }
    &__title {
      margin-left: 10%;
      margin-top: 0;
    }
  }
  @media (min-width: 1000px) {
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 60px;
    &__title {
      margin-left: 0;
    }
    &__photo {
      grid-column: span 1;
      grid-row: span 4;
    }
    &__text {
      grid-column: span 1;
    }
  }
  @media (min-width: 1400px) {
    padding: 0 10%;
  }
}

.contact {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  &__title {
    @include title(30px, 45px, $dark);
    text-align: left;
    position: relative;
    padding-left: 5px;
    margin-bottom: 30px;
    &:after {
      content: "";
      display: inline-block;
      background-color: $yellow;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  &__details {
    margin-bottom: 40px;
    @include text(16px, 20px, $dark);
    font-style: normal;
    padding-right: 50px;
  }
  &__text,
  &__address,
  &__mail,
  &__tel,
  &__fb {
    display: block;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 2px;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
    }
  }
  &__address,
  &__mail,
  &__tel,
  &__fb {
    &:focus,
    &:active,
    &:visited,
    &:link {
      color: $dark;
    }
    &:hover {
      color: $yellow;
    }
  }
  &__text--shop:before {
    background-image: url(../img/shop.svg);
  }
  &__text--delivery:before {
    background-image: url(../img/truck.svg);
  }
  &__text--card:before {
    background-image: url(../img/credit_card.svg);
  }
  &__address:before {
    background-image: url(../img/location.svg);
  }
  &__mail:before {
    background-image: url(../img/envelope.svg);
  }
  &__tel:before {
    background-image: url(../img/phone.svg);
  }
  &__fb:before {
    background-image: url(../img/facebook.svg);
  }
  @media (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 60px;
    &__title {
      &:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &:last-of-type {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 70px 10% 30px 10%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__item {
    position: relative;
    margin-bottom: 20px;
  }
  &__email,
  &__message {
    background: none;
    border: 1px solid $dark_grey;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: $text-font;
    color: $dark;
    &:invalid {
      border-color: $dark_grey;
      box-shadow: none;
    }
    &:focus {
      border-color: $dark;
    }
    &:focus + label {
      top: -8px;
      font-size: 11px;
      color: $dark;
    }
    &::placeholder {
      color: transparent;
    }
    &:not(:placeholder-shown) + label {
      top: -8px;
      font-size: 11px;
      color: $dark;
    }
  }

  .error {
    border-color: $error;
  }

  &__email {
    height: 50px;
  }
  &__label {
    @include text(13px, 13px, $dark_grey);
    display: block;
    position: absolute;
    background-color: white;
    min-width: 30%;
    top: 15px;
    left: 15px;
    transition: 0.2s ease-out all;
    padding: 0 7px;
    cursor: text;
  }
  &__message {
    resize: none;
  }
  &__info {
    @include text(16px, 20px, $dark);
    margin-bottom: 20px;
    a {
      color: $yellow;
      &:link,
      &:visited,
      &:active {
        color: $yellow;
      }
      &:hover {
        color: $dark;
        text-decoration: underline;
      }
    }
  }
  &__submit {
    @include button(120px, 40px);
  }
  &-send-success {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid #eee;
    color: #333;
    padding: 10rem 0;
    margin: 3rem auto;
    max-width: 40rem;
  }

  &-send-success strong {
    display: block;
    margin-bottom: 0.5rem;
  }

  &-send-success span {
    font-size: 1rem;
    color: #888;
    font-weight: normal;
    display: block;
  }
  .honey-row {
    display: none;
  }
  .field-error {
    color: $error;
    padding: 10px 0;
    font-size: 14px;
    font-family: $text-font;
  }
}

.footer {
  @include text(12px, 14px, $dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $grey;
  padding: 0 30px;
  text-align: center;
}

.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%) rotate(0deg);
  content: "";
  animation: rotateLoading 0.3s infinite linear;
  z-index: 10;
}

@keyframes rotateLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.send-error {
  text-align: center;
  display: block;
  font-family: sans-serif;
  padding: 10px 20px;
  color: red;
  @media (min-width: 500px) {
    display: inline-block;
    text-align: left;
  }
}
