@import "variables";
@import "fonts";
@import "colors";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 0 20px;
  position: fixed;
  z-index: 2;
  top: 0;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 100px;
  }
  &__menu {
    width: 50px;
    height: 50px;
    position: relative;
  }
  &__navigation {
    position: fixed;
  }
  @media (min-width: 800px) {
    padding: 0 12%;
    &__menu {
      display: none;
    }
    &__navigation {
      position: relative;
    }
  }
  @media (min-width: 1200px) {
    background-color: transparent;
    color: white;
  }
}

.menu {
  border: none;
  background: transparent;
  cursor: pointer;
  &__line {
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    left: 7px;
    transition: 0.3s ease-in-out;
  }
  &__line:nth-of-type(1) {
    top: 14px;
  }
  &__line:nth-of-type(2),
  &__line:nth-of-type(3) {
    top: 23px;
  }
  &__line:nth-of-type(4) {
    top: 32px;
  }
  &--open &__line:nth-of-type(1) {
    top: 23px;
    width: 0%;
    left: 50%;
  }
  &--open &__line:nth-of-type(2) {
    transform: rotate(45deg);
  }
  &--open &__line:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  &--open &__line:nth-of-type(4) {
    top: 23px;
    width: 0%;
    left: 50%;
  }
}

.navigation {
  opacity: 0;
  display: block;
  visibility: hidden;
  top: 70px;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: white;
  transition: opacity 0.3s ease-in;
  &__item {
    @include text;
    background-color: white;
    color: $dark;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
  }
  &--active {
    visibility: visible;
    opacity: 1;
  }
  &__link {
    display: block;
    &:active,
    &:focus,
    &:visited {
      color: $dark;
    }
    &:hover {
      color: $yellow;
      background: $grey;
    }
  }
  @media (min-width: 800px) {
    visibility: visible;
    display: flex;
    top: 0;
    left: 0;
    opacity: 1;
    height: 70px;
    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    &__item {
      margin-right: 50px;
      height: 70px;
      line-height: 70px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__link {
      padding: 0 12px;
    }
  }
  @media (min-width: 1200px) {
    background: transparent;
    color: white;
    &__item {
      background: transparent;
      color: white;
      letter-spacing: 0.1em;
    }
    &__link {
      &:active,
      &:focus,
      &:visited {
        color: white;
      }
      &:hover {
        color: $yellow;
        background: transparent;
      }
    }
  }
}

.hero {
  margin-top: 70px;
  height: calc(100vh - 70px);
  background-image: url(../img/grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 30px;
  overflow-x: hidden;
  &__title {
    @include title(30px, 60px, $dark);
    width: 100%;
    margin: 60px 0 20px 0;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(42, 42, 42, 0.31);
    position: relative;
    p {
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        display: block;
        background-color: $yellow;
        position: absolute;
        height: 0.3em;
        bottom: 4px;
        right: -0.3em;
        z-index: -1;
      }
      &:nth-of-type(1):after {
        width: 8.5em;
      }
      &:nth-of-type(2):after {
        width: 5em;
      }
    }
  }
  &__action {
    @include button(120px, 40px);
  }
  &__photo {
    width: 400px;
    margin-top: 30px;
    position: relative;
    right: -100px;
  }
  @media (min-width: 500px) {
    padding: 0 12%;
  }
  @media (min-width: 1200px) {
    background-image: url(../img/grass2.jpg);
    margin-top: 0;
    padding-top: 150px;
    height: 100vh;
    flex-wrap: wrap;
    align-items: flex-start;
    &__title {
      flex-basis: 35%;
      width: 60%;
      text-align: left;
      p {
        &:after {
          left: -0.1em;
        }
      }
    }
    &__photo {
      width: 500px;
      right: 0;
    }
    &__action {
      @include button(150px, 50px);
    }
  }
}
